   
body {

    color: #8d7c7c;
  }
 
 .tag {
     font-family: inherit; 
     font-size: 1rem;
    }  

.jumbotron {
    background-image: url("C:\Users\huang\Downloads\Bootscamp Data Analytics\Module 12\Plotly\static\images\space.jpg");
    background-size: 100% 100%;
    text-align: center;
  }